* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;

}

body{
    background-color: rgb(235, 235, 235);
    max-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

h1{
    text-align: center;
    width: auto;
    margin-bottom: 0.9375rem;
    border-radius: 2rem;
}

h2 {
    text-align: left;
    width: auto;
    margin-left: 0.9375rem;
}

p {
    font-weight: bold;
    text-align: center;
    width: auto;
    margin-top: .625rem;
    margin-bottom: .625rem;
    padding: .625rem;
}

h4{
    text-align: center;
    width: auto;
    margin-top: .625rem;
}

.linha{
    height: 2px;
    width: 100%vw;
    background-color: black;
    margin-top: 15px;
}

.titulo{
    text-align: center;
    padding: 3rem;
    width: auto;
    border: 2px solid rgba(49, 47, 47, 0);
    border-radius: 1rem;
    margin: auto;
}
.grid {
    align-items: center;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: .625rem;
    gap: .625rem;
}

.box-1{
    display: flex;
    justify-content: center;
    background-position-x: center;
    height: 25rem;
    background-color: rgb(172, 172, 172);
    border-radius: 0.625rem;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}
.box-2{
    display: flex;
    justify-content: center;
    height: 25rem;
    background-color: rgb(172, 172, 172);
    border-radius: 0.625rem;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2); 
      
}

.box-3 {
    display: flex;
    justify-content: center;
    height: 25rem;
    background-color: rgb(172, 172, 172);
    border-radius: 0.625rem;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}

.highlights {
    margin-left: 1.25rem;
    padding: 2rem;
    border-radius: 2rem;
    border-radius: 0.625;
    
}

.destaque1{
    background-color: rgb(172, 172, 172);
    height: 10rem;
    width: auto;
    border-radius: 1.5rem;
    margin-bottom: .625rem;
    
}

.destaque2{
    background-color: rgb(172, 172, 172);
    height: 10rem;
    width: auto;
    border-radius: 1.5rem;
    
}

.topnews {
    position: absolute;
    top: -0.3125rem;
    right: 5px;
    background-color: #d32f2f;
    color: #fff;
}
